<!DOCTYPE html>
<html>
<head>
  <title>RedBowl</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css" media="screen,projection">
</head>
<body ng-app="redbowl">

  <div ng-include src="'assets/nav/_nav.html'"></div>
  <ui-view></ui-view>

</body>
</html>
